.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    animation: flip 1s;
    color: white;
    font-size: 48.5px;
    margin-top: 40px;
}

@keyframes flip {
    from{
        transform: rotateX(90deg);
    }
    to{
        transform: rotateX(0deg);
    }
}

.containerInput{
    animation: flip 1s;
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 8px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    margin: 25px 0;
    padding: 15px;
}

.containerInput input{
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 20px;
    margin-right: 8px;
    outline: none;
}

.containerInput input::placeholder{
    color: #f1f1f1;
}

.searchButton{
    align-items: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: 0.5s;
}

.searchButton:hover{
    transform: scale(1.2);
}

.result{
    align-items: left;
    background-color: #FFF;
    border: 3px solid rgb(45, 43, 61); 
    border-radius: 8px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 20px;
    padding: 12px;
    position: relative;
    width: 350px;
}

span{
    color: rgb(45, 43, 61); 
    font-weight: bold;
    line-height: 40px;
    margin-left: 15px;
}

.innerSpan{
    font-weight: normal;
    margin-left: 0px;
}

.probabilitySpan{
    position: absolute;
    left: 120px;
}

#error{
    border-radius: 5px;
    color: rgb(235, 13, 13);
    margin-bottom: 8px;
}

.selectCountriesPerPage{
    border: 2px solid rgb(45, 43, 61);
    border-radius: 1px;
    cursor: pointer;
    margin-bottom: 5px;
    margin-left: 3.5px;
}

.pages{
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto 10px;
    padding-left: 4px;
    width: 480px;
}

.pageButton{
    border: 2px solid rgb(45, 43, 61);
    border-radius: 1px;
    cursor: pointer;
    width: 25px;
}

.pageButton:hover{
    background-color: rgb(45, 43, 61);
    color: white;
}

.countriesContainer{
    margin-bottom: 50px;
}

.tableHeader{
    background-color: rgba(255, 255, 255, 0.2); 
    border: 2px solid rgb(45, 43, 61);
    border-radius: 1px;
    display: flex;
    justify-content: left;
    margin: 0px auto;
    width: 470px;
}

.tableHeader span{
    color: rgb(237, 227, 227);
    padding-left: 3px;
}

.country{
    background-color: #FFF;
    border: 2px solid rgb(45, 43, 61);
    border-radius: 1px;
    display: flex;
    justify-content: left;
    margin: 0px auto;
    padding-left: 10px;
    width: 460px;
}

.countryNamePosition{
    position: absolute;
    padding-left: 55px;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-spinner {
    width: 270px;
    height: 270px;
    border: 10px solid #f3f3f3; 
    border-top: 10px solid rgba(255, 255, 255, 0.2); 
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}

.spinner-container {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}


